/* src/assets/styles.css */

/* Definindo uma paleta de cores com tons de rosa */
:root {
    --rosa-claro: #c991a4;
    --rosa-escuro: #e0a6b2;
    --rosa-principal: #d69d8b;
    --branco-quente: #fff4f1;
    --cinza-claro: #f5f5f5;
    --preto-suave: #4a4a4a;
    --vermelho-return: #e24949a3;

  }
  
  /* Adicionando um estilo de borda suave e arredondada */
  .input,
  .button {
    border-radius: 8px;
    border: 1px solid var(--rosa-escuro);
  }
  
  /* Estilo de fundo do formulário */
  .box {
    background-color: var(--branco-quente);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
  }
  
  /* Estilo de títulos */
  .title {
    color: var(--rosa-principal);
    font-family: 'Georgia', serif;
    font-weight: bold;
  }
  
  /* Estilo dos botões */
  .button.is-primary {
    background-color: var(--rosa-principal);
    color: white;
    border-radius: 8px;
    border: none;
  }
  
  .button.is-primary:hover {
    background-color: var(--rosa-escuro);
    color: white;
  }
  .button.is-alert {
    background-color: var(--vermelho-return);
    color: white;
    border-radius: 8px;
    border: none;
  }
  
  /* Cor dos rótulos */
  .label {
    color: var(--rosa-escuro);
    font-weight: bold;
  }
  
  /* Estilizando a área de campo */
  .field {
    margin-bottom: 20px;
  }
  